<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="recipeMapper">
<insert id="recipeUpload" parameterType="com.youandjang.todaychef.recipe.vo.RecipeDto"> 
	INSERT
	INTO recipe_mgt(
		user_sys_id,
		recipe_title,
		recipe_steps,
		recipe_Instagram_link,
		recipe_video_link,
		rec_create_id,
		rec_create_date,
		rec_update_id,
		rec_update_date,
		logical_del_flag
	) VALUES (
		#{userSysId},
		#{recipeTitle},
		#{recipeInfo},
		#{recipeSteps},
		#{recipeInstagramLink},
		#{recipeVideoLink},
		#{userSysId},
		now(),
		#{userSysId},
		now(),
		'0'	
	)
</insert>
</mapper>