<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

<update id="login" parameterType="java.util.Map">
    UPDATE 
	    member_mgt
	SET 
	    todaychef_token = #{refreshToken},
		last_login_datetime=now(),
		login_status_flag = '1'
	WHERE 
	    user_sys_id = #{userId}
	AND 
	    logical_del_flag='0'
	AND 
	    last_gene_flag='1'
</update>


<update id="logoutToken" parameterType="java.util.Map">
    UPDATE 
	    member_mgt
	SET 
	    todaychef_token = #{accessToken},
		rec_update_date=now(),
		login_status_flag = '0'
	WHERE 
	    user_login_id = #{userId}
	AND 
	    logical_del_flag='0'
	AND 
	    last_gene_flag='1'
</update>

<select id="findLoginId" resultType="com.youandjang.todaychef.member.vo.MemberDto" parameterType="String"> 
    SELECT 
        user_sys_id AS userSysId
        ,last_gene_flag AS lastGeneFlag
        ,user_auth AS userAuth
        ,todaychef_token AS todaychefToken
        ,user_login_id AS userLoginId
        ,user_password AS userPassword
        ,user_mail AS userMail
        ,login_status_flag AS loginStatusFlag
        ,last_login_datetime AS lastLoginDatetime
        ,stop_flag AS stopFlag
        ,stop_reason AS stopReason
        ,temp_flag AS tempFlag
    FROM 
        member_mgt
    WHERE
        user_login_id = #{userId}
    AND
        last_gene_flag = '1'
    AND
        logical_del_flag = '0'
</select>

<select id="checkDuplicateUserId" resultType="integer" parameterType="String">
	SELECT
		COUNT(*) AS count
	FROM
		member_mgt
	WHERE
		logical_del_flag = '0'
	AND
		stop_flag != '1'
	AND
		user_login_id = #{Id}
</select>

<select id="findMaxId" resultType="String">
	SELECT
		MAX(user_sys_id)
	FROM
		member_mgt
</select>

<insert id="regist" parameterType="com.youandjang.todaychef.member.vo.MemberDto">
	INSERT
	INTO member_mgt(
		user_sys_id,
		last_gene_flag,
		user_auth,
		todaychef_token,
		user_login_id,
		user_password,
		user_mail,
		login_status_flag,
		last_login_datetime,
		stop_flag,
		stop_reason,
		temp_flag,
		rec_create_id,
		rec_create_date,
		rec_update_id,
		rec_update_date,
		logical_del_flag
	) VALUES (
		#{userSysId},
		'1',
		'BY',
		'0',
		#{userLoginId},
		#{userPassword},
		#{userMail},
		'0',
		now(),
		'0',
		#{stopReason},
		'0',
		#{userSysId},
		now(),
		#{userSysId},
		now(),
		'0'	
	)
</insert>

</mapper>